.sub__banner{
    position: absolute;
    
    @include mq(s) {
        @include rem(margin-top, 7);
    }            
        h1{ 
            text-align: left;
    
                @include mq(l) {
                    padding: 0, 2;
                }
            
               a{
               color: $pure-black;
               text-decoration: none;

               &:focus {
                    color: $pure-black;

               &:hover {
                    background-color: $pure-white;
               }
            }
        }
     } 
 } 