<li class="blog__entry--list">
  <a class "blog__entry--list" href="<% config.root %><% item.path %>" title="<%- item.title %>"></a>
    <% if(item.date) { %>
      <span class="blog__entry--date">
        <%= item.date.format(config.date_format)%>
      </span>
    <% } %>
</li>
