// REM mixin
// From CSS-Tricks - REM mixin for Sass/Less - http://bit.ly/1PD6uuY
// 1 = 10px, 1.6 = 16px, 2 = 20px etc

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin rem($property, $values...) {
	$max: length($values);
	$px-values: '';
	$rem-values: '';

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$px-values: #{$px-values + $value*10}px;

		@if $i < $max {
			$px-values: #{$px-values + " "};
		}
	}

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$rem-values: #{$rem-values + $value}rem;

		@if $i < $max {
			$rem-values: #{$rem-values + " "};
		}
	}

	#{$property}: $px-values;
	#{$property}: $rem-values;
}

// Media-queries tweak-points //from jamesloveridge.net

@mixin mq($tweak-point) {
	@if map-has-key($mqs, $tweak-point) {
		@media #{inspect(map-get($mqs, $tweak-point))} {
			@content;
		}
	} @else {
		@warn "Couldn't find a media query named `#{$tweak-point}`.";
	}
}

// Max-width mixin
@mixin max-width {
	max-width: 720px;
}

// Float left - width 100%

@mixin float-width {
	float: left;
	width: 100%;
}
