//Typography
$body-font-size: 16px; // 16px (100%)
$body-font-stack: -apple-system, BlinkMacSystemFont, "Ubuntu","Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$body-font-weight: 200;
$body-line-height: 1.5; // 24px

// Base colours
$off-black: 	#333;
$off-white: 	#fafafa;
$pure-black: 	#000;
$pure-white: 	#fff;

//Default colours
$primary: 		#50E3C2;

// SVG
$svg-elsewhere-size: 24px; // elsewhere icons height/width
