<section class="content__intro">
  <div class="container">
    <ul>
      <li class="first">
        <h2>I</h2>
        <p>"- am an artist turned front-end developer with a passion for coding craftmanship and designing websites."</p>
      </li>
      <li>
        <h2>Am</h2>
        <p>"- in love with CSS3, SASS, HTML, JavaScript. I am also a nice guy, easy to chat too, good at drinking coffee and making doodles. "</p>
      </li>
      <li>
        <h2>Michael</h2>
        <p>"- is alright I guess. I find it strange to write in third person!"</p>
      </li>
    </ul>
  </div>
  
</section>

<section class="content__blog">
  <h2 class="blog__entry--title">Blog</h1>
  <ul class="blog__entry">
    <% page.posts.each(function(item) { %>
      <%- partial('_partial/item', {item: item}) %>
    <% }); %>
  </ul>
</section>
