<section class="content__intro">
  <div class="container">
    <ul>
      <li class="first">
        <h2><a href="/">I</a></h2>
        <p>"_I am an artist turned front-end developer with a passion for coding craftmanship and designing websites."</p>
      </li>
      <li>
        <h2><a href="/">Am</a></h2>
        <p>"_I am in love with CSS3, SASS, HTML, JavaScript. I am also a nice guy, easy to chat to, good at drinking coffee and making doodles. "</p>
      </li>
      <li>
        <h2><a href="/">Michael</a></h2>
        <p>"_I happen to be a passionate sculptor in my spare time. My art practice can be seen <a class="textdecoration" href="http://www.michaelgbrown.co.uk"> here</a>. My ongoing mobile gallery project can be seen <a class="textdecoration"href="http://www.thewhatgallery.com">here</a>. "</p>
      </li>
    </ul>
  </div>
  
</section>

<section class="content__blog">
  <h2 class="blog__entry--title">Blog</h1>
  <ul class="blog__entry">
    <% page.posts.each(function(item) { %>
      <%- partial('_partial/item', {item: item}) %>
    <% }); %>
  </ul>
</section>
