//body settings.
body {
	font-family: $body-font-stack; // fonts
	font-size: $body-font-size; // 16px
	font-weight: $body-font-weight; // 200
	line-height: $body-line-height; // 1.5
	background: $primary // background colour
}
