.content__article {
	
		p,
		h2,
		h3,
		h4,
		h5,
		h6,
		ul {
			@include rem(padding, 0, 1);
		}

		.decoration {
			border-bottom: 1px dotted $pure-white;
		}

		a {
			text-decoration: none;
		}

	
		ul li p {
			padding: 0 !important;
		}
	
		time {
			@include rem(padding, 1);
		}
	
		img {
			height: auto;
			width: 100%;
		}
	}