<header class="top" id="top">


	<section class="top__banner">

			<%- partial('_partial/navigation') %>

	</section>

	<section class="sub__banner">

			<h1>><a href="/"><%= config.title %></a></h1>

	</section>	

	

</header>

<!-- <img class="logo" src="images/logo.png" alt="logo" -->